In [1]:
import pandas as pd

df = pd.read_csv("../datasets/alljobs.csv")

In [2]:
df.head()

,Job-Title,Date-Posted,Company,Job-Type,Salary,Location,Description
0,"Bachelor of Science, Nursing Instructor Part...",2023-04-25,Red Deer College,Full-time,NaN,"Red Deer, AB",Position Information\n\nPosition Title\n\nBach...
1,PHD Graduate Student,2023-04-19,IDOBE Research Group,Full-time,NaN,"Edmonton, AB",The IDOBE (Intelligent Design & Operation for ...
2,Central Graduate Advisor,2023-04-19,University of Alberta,Full-time,"$47,210–$63,741 a year","Edmonton, AB",FGSR Grad Studies & Rsrch Admi\n\nCompetition ...
3,Student/Graduate Application,2023-04-20,Eagle Builders LP,Internship,NaN,"Blackfalds, AB",Eagle Builders welcomes and offers work experi...
4,"Advisor, Graduate Student Experience, Haskayne...",2023-04-12,University of Calgary,Full-time,NaN,"Calgary, AB",University of Calgary\nRSS Jump to Headline Ho...

In [8]:
columns_to_set = set(df["Location"])


for val in columns_to_set:
    if "Oslo" in val:
        print(val, "FOUND")

Oslo, Norway (+1 other) FOUND
Oslo, Norway (+3 others) FOUND
Oslo, Norway FOUND
Oslo, Norway (+5 others) FOUND

In [7]:
regional_jobs = df[df["Location"] == "Oslo, Norway"]
regional_jobs

,Job-Title,Date-Posted,Company,Job-Type,Salary,Location,Description
1780,Associate Professor in Religion and Society,2023-04-20,University of Oslo,Full-time,NaN,"Oslo, Norway","Job Summary\n\nThe Faculty of Theology, Univer..."
1817,Lecturer in Nutrition,2023-04-20,University of Oslo,Full-time,NaN,"Oslo, Norway",Job Summary\n\nA 20 % position of university l...
9242,Remote Data Entry Clerk,2023-04-06,DNB ASA,Part-time,NaN,"Oslo, Norway",Job Title: Remote Data Entry Clerk Company: DN...
9243,Data Entry Administrative Virtual Assistant Re...,2023-04-24,Warakirri Asset Management,Full-time,NaN,"Oslo, Norway",Our company is a leading provider of administr...
9246,Account Executive,2023-04-25,Plaace,Full-time,NaN,"Oslo, Norway",About the role\n\nWe're scaling our commercial...
...,...,...,...,...,...,...,...
34448,Community Manager,NaN,RunwayFBU,Full-time,NaN,"Oslo, Norway",The RunwayFBU story\n\nBig change needs big th...
34456,Equipment Buyer - Urgent Role,2023-03-29,Logo Nes - Temporary Positions,Full-time,NaN,"Oslo, Norway",We are on the lookout for an organized Equipme...
34458,Volunteer Language Teacher,2023-04-25,The Educational Equality Institute,NaN,NaN,"Oslo, Norway","Note: while this is a non-paid, volunteer role..."
34460,Volunteer 1-1 Language Teacher,2023-03-27,THE EDUCATIONAL EQUALITY INSTITUTE,NaN,NaN,"Oslo, Norway","The Educational Equality Institute, an NGO bas..."
34461,Volunteer Teacher,2023-04-20,The Educational Equality Institute,Full-time,NaN,"Oslo, Norway","The Educational Equality Institute, an NGO bas..."